.painel {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  padding: 20px;
  min-height: 100vh;

}

.btn {
  display: block;
  padding: 15px 33px;
  margin: 90px auto;
  font-size: 20px;
  border-radius: 23px;
  background-color: #0088FF;
  border: none;
  color: #F5F5F5;
  cursor: pointer;
  transition: 0.3s ease;

}

.btn:hover {
  background-color: #004499;

}

.error {
  color: #d21111;
  margin: 10px 0;
  text-align: center;

}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;

}

.card {
  background-color: #f7f7f7;
  margin-bottom: 17px;
  border-radius: 8px;
  padding: 15px;
  width: 220px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: 0.4s;

}

footer {
  width: calc(100% + 40px);
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: 20px;

}

.sensor {
  font-size: 28px;
  text-align: center;

}

.colorSpan {
  color: #B7B7B7;

}

.colorSpan2 {
  background-color: #CDFFCD;
  color: #293325;
  padding: 2px 8px;
  border-radius: 8px;

}

.back {
  text-decoration: none;
  text-align: center;
  margin-bottom: 20px;
  margin-top: auto;
  width: 100%;
  color: #0E0E0E;

}

.back:hover {
  color: #0088FF;
  
}

.buttonCard {
  display: flex;
  margin: -10 14px;
  font-size: 18px;
  background-color: #0088FF;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  padding: 9px 40px;
  transition: 0.4s ease;

}

.buttonCard:hover {
  background-color: #004499;

}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  z-index: 999;
  animation: fadeIn 0.3s ease forwards;

}

.modal {
  background-color: #FFFFFF;
  width: 450px;
  max-width: 90%;
  padding: 25px;
  border-radius: 19px;
  box-shadow: 0 8px 22px rgba(0,0,0,0.2);
  transform: scale(0.8);
  opacity: 0;
  animation: zoomIn 0.35s ease forwards;

}

.modal h2 {
  text-align: center;
  font-size: 28px;

}

/* Animação */
@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;

  }
  to {
    transform: scale(1);
    opacity: 1;
  
  }
}

/* Animação */
@keyframes fadeIn {
  from {
    opacity: 0;

  }
  to {
    opacity: 1;

  }
}

/* Responsividade */
@media (max-width: 768px) {
  button {
    padding: 9px 40px;
    font-size: 18px;

  }

  .card {
    width: 90%;
    margin-bottom: 15px;

  }

  .buttonCard {
    margin: -10 14px;
    padding: 9px 40px;
    font-size: 18px;

  }

  .modal {
    width: 400px;
    padding: 18px;
    border-radius: 15px;
    transform: scale(0.8);

  }
}

/* Responsividade */
@media (max-width: 480px) {
  button {
    margin-top: 60px;
    width: 80%;

  }

  .painel {
    padding: 10px;

  }
}
