body {
    background-color: var(--altered_white);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.container {
    height: 78vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transform: translateY(40px);
    
}

.forms {
    padding: 40px 35px;
    background-color: var(--altered_white);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.30);

}

.title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.8rem;
    color: var(--altered_black);
    font-weight: 700;

}

input {
    padding: 12px 15px;
    background-color: #ebeaea;
    border: none;
    font-size: 1rem;
    outline: none;

}

input:active {
    background-color: #dad9d9;
}

.buttonLogin {
    margin-top: 20px;
    width: 400px;
    margin: 10px auto;
    padding: 14px;
    background-color: var(--blue);
    border: none;
    color: var(--altered_white);
    font-size: 1.1rem;
    cursor: pointer;

}

.buttonLogin:hover {
    background-color: #026ecd;
}

.buttonLogin:disabled {
    background: #B7B7B7;
    cursor: no-drop;

}

.error {
    background-color: #f1cfcf;
    color: #d21111;
    text-align: center;
    padding: 14px;

}

.success {
    background-color: #c1f7c1;
    color: #228d22;
    text-align: center;
    padding: 14px;

}

.logoContainer {
    display: flex;
    align-items: center;     
    justify-content: center; 
    gap: 0px;            
    margin-bottom: 20px;

}


.logo {
    height: 80px;  
    width: 80px;
    transform: translateY(6px);

}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        height: auto;
        padding: 10px;
        transform: translateY(30px);

    }

    .forms {
        padding: 30px 25px;
        max-width: 450px;

    }

    .buttonLogin {
        width: 100%;
        max-width: 450px;

    }

    input {
        font-size: 0.95rem;
        padding: 11px 12px;

    }

    .logo {
        height: 70px;
        width: 70px;

    }
}

/* Responsividade */
@media (max-width: 480px) {
    .forms {
        padding: 25px 20px;
        max-width: 95%;

    }

    label {
        margin-left: 5px;

    }

    input {
        font-size: 0.9rem;
        padding: 10px 11px;

    }

    .buttonLogin {
        width: 100%;
        padding: 12px;
        font-size: 1rem;

    }

    .logo {
        height: 60px;
        width: 60px;

    }

    .title {
        font-size: 1.6rem;

    }
}