body {
    background-color: var(--altered-white);
}

.container {
    font-family: Arial;
    height: 78vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.forms {
    padding: 40px 35px;
    border-radius: 16px;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.18);

}

.title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.8rem;
    color: var(--black-text);
    font-weight: 700;

}

label {
    font-size: 1rem;
    color: var(--black-text);
    
}

input {
    padding: 12px 14px;
    border: 0.1px solid var(--gray);
    font-size: 1rem;
    outline: none;

}

.button {
    margin-top: 10px;
    padding: 14px;
    background: var(--medium-green);
    color: var(--altered-white);
    border: none;
    font-size: 1.1rem;
    cursor: pointer;

}

.button:disabled {
    background-color: var(--gray);
    cursor: no-drop;
    opacity: 0.6;

}

.error {
    color: var(--red-text);
    text-align: center;
}