*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;

}

:root {
  --dark-green: #293325;
  --gray: #b7b7b7;
  --medium-green:  #729163;
  --turq-text: #24cab6;   
  --altered-white: #f5f5f5;
  --red-text: #d21111;
  --black-text: #0e0e0e;

}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--roxo-claro);
  color: var(--texto-escuro);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;

}