*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;

}

:root {
  --dark-green: #293325;     
  --medium-green:  #729163;   
  --altered-white: #f5f5f5;     
  --black-text: #0e0e0e;    

}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--roxo-claro);
  color: var(--texto-escuro);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;

}