.container {
    background-color: var(--white);
    padding: 40px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 20px auto;

}

.body {
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.title {
    font-size: 25px;
    font-weight: 600;
    margin: 0 14px;
    color: var(--black);

}

.table {
    width: 100%;
    border-collapse: collapse;

}

.users {
    padding: 13px 10px;
    color: var(--gray);
    font-size: 18px;

}

.approved {
    background-color: var(--light_green);
    padding: 10px 10px;
    color: rgb(15, 115, 15);
    margin-top: 5px;
    display: inline-block;

}