.header {
    font-family: Arial;
    background: var(--dark-green);
    width: 100vw;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    text-align: center;

}

.title {
    color: var(--altered-white);
    
}

.logo {
    height:100px ;
    width: auto;
    animation: giro 10s linear infinite;

}

@keyframes giro {
    from { 
        transform: rotate(0deg); 
    }
    to { 
        transform: rotate(360deg); 
    }
}

