.body {
  font-family: Arial;
  background: var(--altered-white);
  flex: 1;
  display: flex;
  justify-content: center;  
  align-items: center;   
  height: 78.5vh;  

}

.menuFlex {
  display: flex;
  gap: 10px;
  max-width: 800px;

}

.menuItem {
  background: var(--medium-green); 
  color: var(--altered-white);    
  padding: 30px 60px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  border-radius: 12px;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;

}

.menuItem:hover {
  background: var(--dark-green);
  transform: translateY(-2px);

}

