.body {
  font-family: Arial;
  background: var(--altered-white);
  flex: 1;
  display: flex;
  justify-content: center;  
  align-items: center;   
  min-height: 78.5vh;

}

.menuFlex {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; 
  justify-content: center;
  max-width: 900px;

}

.menuItem {
  background: var(--medium-green);
  color: var(--altered-white);    
  padding: 17px 50px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);

}

.menuItem:hover {
  transform: translateY(-4px) scale(1.05);
  cursor: pointer;

}

@media (max-width: 600px) {
  .menuFlex {
    flex-direction: column;
    gap: 15px

  }
}